body{
  background-color: #ffd8cc;
  
}

.h1 {
color: #fb92be;
text-align: center;
font: fantasy;

}
.textbox{
  border: 2px solid #Fb9aac;
  padding: 100px
}
.personal p {
  background-color: #C1E1d2;
}
.work p {
  background-color: #f6f8e8;
}
.important p {
text-align: left;

}
.project{
  color: red;
  text-align: left;
}
.column{
  width: 500px;
  float: left;

}