body{
  background-color: #ffd8cc;
  
}

.h1 {
color: #fb92be;
text-align: center;
font: fantasy;

}
.textbox{
  border: 2px solid #Fb9aac;
  padding: 6px
}
.personal p {
  background-color: #C1E1d2;
}
.work p {
  background-color: #f6f8e8;
}
